apiVersion: apps/v1
kind: Deployment
metadata:
  name: products-frontend-v1
  labels:
    app: products-frontend
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: products-frontend
      version: v1
  # Pod template
  template:
    metadata:
      labels:
        app: products-frontend
        version: v1
    spec:
      containers:
        - name: itba-products-frontend
          image: gbrey/products-frontend
          imagePullPolicy: Always
          ports:
            - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: products-frontend-svc
  labels:
    app: products-frontend
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  selector:
      app: products-frontend
